@import "../../../css/units.css";
@import "../../../css/colors.css";

.wap-items{
  width: 216px;
  /* height: 300px; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  margin: .4rem;
  border: 2px solid $ui-black-transparent;
  border-radius: $space;
  box-sizing: border-box;
  cursor: pointer;
}

.wap-items:hover{
  border-color: $motion-primary;
}
.wap-items>.wap-phon{
  width: auto;
  height: auto;
}
.wap-phon>img{
  display: block;
  width: 100%;
  height: 100%;
}
.wap-title{
  display: flex;
  flex-direction: column;
}
.wap-title>span{
  padding: 0.5rem 0px 0px ;
  text-indent: .5em;
}